<phpunit bootstrap="bootstrap.php">
    <extensions>
        <extension class="ThenLabs\PyramidalTests\Extension"></extension>
    </extensions>

    <php>
        <env name="PYRAMIDAL_ONLY" value="1"></env>
        <env name="SELENIUM_SERVER" value="http://localhost:4444/wd/hub"></env>
    </php>

    <testsuites>
        <testsuite name="Main">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
