<phpunit bootstrap="bootstrap.php">
    <extensions>
        <extension class="ThenLabs\PyramidalTests\Extension"></extension>
    </extensions>

    <php>
        <env name="PYRAMIDAL_ONLY" value="1"></env>
        <env name="SELENIUM_SERVER" value="http://localhost:4444/wd/hub"></env>
        <env name="TEST_URL" value="http://localhost:8000/index.php"></env>
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>

        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>

        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
